body {
margin: 0 auto;
padding: 0;
font: 76% Verdana,Tahoma,Arial,sans-serif;
background: #211d1e url(contact_files/body_deg.gif) repeat-x
}


#wrap {
background: #e3bd72;
color: #000000;
border:  none;
margin: 0 auto;
width: 930px;
}

#header {
clear: both;
margin: 0px 0em 0px 0em;
padding: 0;
height: 20px;
background-color: #000000;}

#content {
margin: 0em 20px 10px 140px;
padding: 0 10px 0 10px;
line-height: 1.6em;
text-align: center;
}

#content h2 {
font-size: 1.25em;
margin: 0 0 0.5em 0;
padding: 0;
}

#content h3 {
font-size: 1em;
margin: 0 0 0.5em 0;
padding: 0;
}

#content h1 {
font-size: 1.6em;
margin: 0 0 0.5em 0;
text-align: center;
}

#content img {
padding: 0px;
display:inline;
}


#header h3 {
width: 350px;
margin: 0px 0px 0px 15px;
float: left;
}

#header p {
width: 500px;
float: right;
text-align: center;
color: #ffffff;
margin: 0px 0px 0px 0px;
font-size: 0.8em;
line-height: 1.2em;
height: 100px;
}

#avmenu {
clear: left;
float: left;
width: 40px;
margin: 0 0 5px 0;
padding: 0;
font-size: 0.9em;
}

#avmenu ul {	
list-style: none;
width: 135px;
margin: 0 0 20px 0;
padding: 0;
font-size: 1em;
}	

#avmenu li {
margin-bottom: 4px;
}

#avmenu li a {
height: 30px;
text-decoration: none;
color: #fffff1;
display: block;
padding: 6px 0 0 5px;
background: #67522c;
border-left: 1px #846837 solid;
}
	
	
#avmenu li a:hover {
background: #67522c;
color: red;
border-left: 4px #47381e solid;
}

.announce {
margin: 0 0 0 0;
padding: 10px;
width: 290px;
color: #ffffff;
background-color: #000000;
line-height: 1.3em;
}

#extras {
float: right;
text-align: center;
width: 300px;
margin: 0 0 0 0;
padding: 5px;
font-size: 1em;
line-height: 1.5em;
}

#extras p {
margin: 0 0 2em 0;
}


h3 {
font-size: 1.3em;
margin: 0 0 10px 0;
}

a {
text-decoration: none;
color: #983D06;
}

a:hover {
text-decoration: underline;
color: red;;
}


#footer {
clear: both;
margin: 0 auto;
padding: 0px 0em 0px 0em;
width: 930px;
text-align: center;
color: #808080;
font-size: 0.9em;
height: 100px;
border: none;}


.left {
margin: 0px 7px 0px 5px;
float: left;
}

.right {
margin: 0px 7px 0px 5px;
float: right;
}

.textright {
text-align: right;
font-size: 1.5em;
}

.center {
text-align: center;
}

.small {
font-size: 0.8em;
}

.bold {
font-weight: bold;
}

.hide {
display: none;
}

strong { 
font-weight: bold; 
}

big { 
font-weight: bold; 
font-size: 1.35em; 
}


#navcontainer{
float:left;
}

 #navlist li{
list-style-type: none;
display:inline;
text-align:right;
padding-right: 20px;
font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
font-size:12px;
text-transform:lowercase; 
color:#666666;
}

#navlist li a:link { color: #983D06; text-decoration:none; }
#navlist li a:visited { color: #FFFFFF; text-decoration:none; }
#navlist li a:hover {color: red; text-decoration:none; }

